@model Shelved.Models.Movie

@{
    ViewData["Title"] = "Details";
}

<br />

<h3>Movie Details</h3>

<br />

<div>
    <img style="max-height: 250px; min-height: 100px; max-width:200px; min-width:100px;" class="img-responsive bookImage" src="@Url.Content("~/images/" + Model.ImagePath)" alt="" />
</div>
<br />

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsWatched)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsWatched)
        </dd>
        <dt class="col-sm-2">
            Genres
        </dt>
        <dd class="col-sm-10">
            @foreach (var item in Model.MovieGenres)
            {
                <div>
                    @Html.DisplayFor(modelItem => item.GenresForMovies.Description) &nbsp;
                </div>
            }
    </dl>
</div>
<div>
    <a class="btn btn-outline-dark mt-3 btn-create-new-group" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    <a class="btn btn-outline-dark mt-3 btn-create-new-group" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
    <a class="btn btn-outline-dark mt-3 btn-create-new-group" asp-action="Index">Back to My Movies</a>
</div>
