@model Shelved.Models.Movie

@{
    ViewData["Title"] = "Details";
}

<h1>Movie Details</h1>

<div>
    <h4>Movie</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsWatched)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsWatched)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImagePath)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ImagePath)
        </dd>
        <h6>
            <h6>
                Genres
            </h6>
            <td>
                @foreach (var item in Model.MovieGenres)
                {
                    <div>
                        @Html.DisplayFor(modelItem => item.GenresForMovies.Description)
                    </div>
                }
            </td>
</dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a> |
    <a asp-action="Index">Back to List</a>
</div>
