@model ReflectionIT.Mvc.Paging.PagingList<Shelved.Models.Movie>
@using ReflectionIT.Mvc.Paging
@addTagHelper *, ReflectionIT.Mvc.Paging

@{
    ViewData["Title"] = "Index";
}

<h1>My Movies</h1>

<a asp-action="Index">My Movies</a> |
<a asp-action="WishList">Wish List</a> |
<a asp-action="WatchList">Watch List</a> |
<a asp-action="SeenList">Seen That</a>

<form method="get" class="form-inline">
    <label>Search Movies by Title or Year: </label>
    <input name="searchMovies" class="form-control" placeholder="Search Your Movies"
           value="@Model.RouteValue["searchMovies"]" />
    <button type="submit" class="btn btn-info">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search
    </button>
</form>

<nav aria-label="Movies">
    @await this.Component.InvokeAsync("Pager", new { pagingList = this.Model })
</nav>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsWatched)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagePath)
            </th>
            <th>
                Genres
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsWatched)
                </td>
                <td>
                    <img style="max-height: 70px; min-height: 60px;" class="img-responsive" src="@Url.Content("~/images/" + item.ImagePath)" alt="" />
                </td>
                <td>
                    @foreach (var genre in item.MovieGenres)
                    {
                        <div>
                            @Html.DisplayFor(modelItem => genre.GenresForMovies.Description)
                        </div>
                    }
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>

</table>
<nav aria-label="Movies">
    <vc:pager paging-list="@Model" />
</nav>