@model IEnumerable<Shelved.Models.Movie>

@{
    ViewData["Title"] = "SeenList";
}

    <body>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                @*Photo by Joshua Eckstein on Unsplash*@
                <img src="~/images//movies.jpg" alt="cds" style="max-height: 90px; min-height: 80px;">  &nbsp;

                <a class="navbar-brand" asp-area="" asp-controller="Movies" asp-action="SeenList">I've Seen That</a>

                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Movies" asp-action="WatchList">Watch List</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Movies" asp-action="WishList">Wish List</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Movies" asp-action="Index">My Movies</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </body>

<form asp-action="SeenList" asp-controller="Movies">
    <label>Search Seen Movies by Title or Year: </label>
    <input name="searchSeenList" type="text" />
    <input class="btn btn-success" type="submit" value="Search" />
</form>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagePath)
            </th>
            <th>
                Genres
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    <img style="max-height: 70px; min-height: 60px;" class="img-responsive bookImage" src="@Url.Content("~/images/" + item.ImagePath)" alt="" />
                </td>
                <td>
                    @foreach (var genre in item.MovieGenres)
                    {
                        <div>
                            @Html.DisplayFor(modelItem => genre.GenresForMovies.Description)
                        </div>
                    }
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id"> Movie Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
