@model IEnumerable<Shelved.Models.CD>

@{
    ViewData["Title"] = "Index";
}

<h1>My Music</h1>

<a asp-action="Index">My Music</a> |
<a asp-action="WishList">Wish List</a> |
<a asp-action="ListenList">Listen List</a> |
<a asp-action="HeardList">Heard That</a>

<form asp-action="Index" asp-controller="CDs">
    <label>Search Music by Artist or Album: </label>
    <input name="searchMusic" type="text" />
    <input class="btn btn-success" type="submit" value="Search" />
</form>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Artist)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsHeard)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagePath)
            </th>
            <th>
                Genres
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Artist)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsHeard)
                </td>
                <td>
                    <img style="max-height: 70px; min-height: 60px;" class="img-responsive bookImage" src="@Url.Content("~/images/" + item.ImagePath)" alt="" />
                </td>
                <td>
                    @foreach (var genre in item.CDGenres)
                    {
                        <div>
                            @Html.DisplayFor(modelItem => genre.GenresForCDs.Description)
                        </div>
                    }
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
