@model Shelved.Models.ViewModels.BookViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Add A Book</h1>



<br />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Author" class="control-label"></label>
                <input asp-for="Author" class="form-control" />
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsRead" /> @Html.DisplayNameFor(model => model.IsRead)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="File" class="control-label"></label>
                <input asp-for="File" type="file" class="form-control" />
                <span asp-validation-for="File" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GenreIds" class="control-label"></label>
                <select multiple asp-for="GenreIds" class="form-control" asp-items="ViewBag.GenresForBooks"></select>
            </div>

            <h6>Which list would you like to add your book to?</h6>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="MyBooks" /> @Html.DisplayNameFor(model => model.MyBooks)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="WishList" /> @Html.DisplayNameFor(model => model.WishList)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ReadList" /> @Html.DisplayNameFor(model => model.ReadList)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ReadItList" /> @Html.DisplayNameFor(model => model.ReadItList)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-outline-danger" />
            </div>
        </form>
</div>
</div>

<div>
    <a class="btn btn-outline-dark" asp-action="Index">Back to My Books</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
