@model ReflectionIT.Mvc.Paging.PagingList<Shelved.Models.Book>
@using ReflectionIT.Mvc.Paging
@addTagHelper *, ReflectionIT.Mvc.Paging


@{
    ViewData["Title"] = "Index";
}

<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            @*Photo by Jaredd Craig on Unsplash*@
            @*<img src="~/images//books.jpg" alt="books" style="max-height: 90px; min-height: 80px;">  &nbsp;*@

            <a class="navbar-brand" asp-area="" asp-controller="Books" asp-action="Index">My Books</a>

            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Books" asp-action="WishList">WishList</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Books" asp-action="ReadList">Books To Read</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Books" asp-action="ReadItList">I've Read That</a>
                    </li> &nbsp;
                    <li class="nav-item">
                        <form method="get" class="form-inline">
                            <label></label>
                            <input name="searchBooks" class="form-control" placeholder="Search by Title or Author"
                                   value="@Model.RouteValue["searchBooks"]" /> &nbsp; &nbsp;
                            <button type="submit" class="btn btn-outline-dark">
                                <a class="glyphicon glyphicon-search" aria-hidden="true"> Search</a>
                            </button>
                        </form>
                    </li> &nbsp; &nbsp;
                    <li class="nav-item">
                        <div>
                            <a class="btn btn-outline-danger" asp-action="Create">Add A Book</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</body>

<div>
    <div style="text-align: center">
            <img align="center" src="~/images//books1.jpg" alt="books" style="max-height: 300px; min-height: 200px; max-width:1200px; min-width:1000px;">  &nbsp;
    </div>

</div>



<nav aria-label="Books">
    @await this.Component.InvokeAsync("Pager", new { pagingList = this.Model })
</nav>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsRead)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagePath)
            </th>

            <th>
                Genres
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsRead)
            </td>
            <td>
                <img style="max-height: 60px; min-height: 60px;" class="img-responsive bookImage" src="@Url.Content("~/images/" + item.ImagePath)" alt="" />
            </td>
            <td>
                @foreach (var genre in item.BookGenres)
                {
                    <div>
                        @Html.DisplayFor(modelItem => genre.GenresForBooks.Description)
                    </div>
                }
            </td>
            <td>
                <div>
                    <a class="btn btn-outline-danger mt-3 btn-create-new-group" asp-action="Details" asp-route-id="@item.Id">Details</a>
                </div>
            </td>
        </tr>
        }
    </tbody>
</table>
<nav aria-label="Books">
    <vc:pager paging-list="@Model" />
</nav>
