@model IEnumerable<Shelved.Models.Book>


@{
    ViewData["Title"] = "WishList";
}

    <body>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Books" asp-action="Index">My Books</a>

                            </li>
                            <li class="nav-item">
                                <a class="navbar-brand" asp-area="" asp-controller="Books" asp-action="WishList">WishList</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Books" asp-action="ReadList">Books To Read</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Books" asp-action="ReadItList">I've Read That</a>
                            </li> &nbsp;
                            <li class="nav-item">
                                <form method="get" class="form-inline" asp-action="WishList" asp-controller="Books">
                                    <label></label>
                                    <input name="searchWish" class="form-control" placeholder="Search by Title or Author" /> &nbsp;
                                    <button type="submit" class="btn btn-outline-dark">
                                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search
                                    </button>
                                </form>
                            </li> &nbsp; &nbsp;
                            <li class="nav-item">

                                <p>
                                    <a class="btn btn-outline-danger" asp-action="Create">Add A Book</a>
                                </p>
                            </li>
                        </ul>
                    </div>
            </div>
        </nav>
    </body>

    <div>
        <div style="text-align: center">
            <img align="center" src="~/images//books1.jpg" alt="books" style="max-height: 300px; min-height: 200px; max-width:1200px; min-width:1000px;">  &nbsp;
        </div>

    </div>
<br />

    <div class="container">
        <div class="row justify-content-between">

            @foreach (var item in Model)
            {
                <div class="col-3">
                    <div class="card indexCard">
                        <div class="card-body">
                            <h5 class="card-title">

                                @Html.DisplayFor(modelItem => item.Title)

                            </h5>
                            <p class="card-text">
                                By:
                                @Html.DisplayFor(modelItem => item.Author)
                            </p>
                            <div>
                                <img style="max-height: 140px; min-height: 120px;" class="img-responsive bookImage" src="@Url.Content("~/images/" + item.ImagePath)" alt="" /> &nbsp;
                                <a class="btn btn-outline-dark mt-3 btn-create-new-group" asp-action="Details" asp-route-id="@item.Id">Details</a>

                            </div>
                            &nbsp; &nbsp;

                            <p class="card-text">
                                Published:
                                @Html.DisplayFor(modelItem => item.Year)
                            </p>
                            <p class="card-text">
                                @Html.DisplayNameFor(model => model.IsRead)
                                @Html.DisplayFor(modelItem => item.IsRead)
                            </p>
                            <p class="card-text">
                                Genres:

                                @foreach (var genre in item.BookGenres)
                                {
                                    @Html.DisplayFor(modelItem => genre.GenresForBooks.Description) <br />
                                } &nbsp;
                            </p>


                        </div>
                    </div>
                    </div>
                    }
                </div>
            </div>
<br />
<br />
